*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 90%; }
  @media (max-width: 59.9em) {
    html {
      font-size: 80%; } }
  @media (max-width: 39em) {
    html {
      font-size: 70%; } }
  @media (max-width: 35em) {
    html {
      font-size: 65%; } }

body {
  padding: .7rem;
  background-color: white;
  box-sizing: border-box;
  font-family: lato; }
  @media (max-width: 32.5rem) {
    body {
      padding: 0; } }

.heading--main-text {
  display: block;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: bold;
  opacity: 0;
  animation-name: moveFromLeft;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards; }
  @media (max-width: 32.5rem) {
    .heading--main-text {
      line-height: 6.5rem; } }

.heading--primary-text {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-weight: 300;
  opacity: 0;
  animation-name: moveFromRight;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards; }
  @media (max-width: 32.5rem) {
    .heading--primary-text {
      line-height: 2rem; } }

.secondary-header {
  color: transparent;
  font-size: 2rem;
  font-family: lato;
  background-image: linear-gradient(to right, rgba(255, 0, 170, 0.863) 10%, rgba(98, 0, 255, 0.801));
  -webkit-background-clip: text;
  display: inline-block;
  margin-bottom: .5rem;
  text-transform: uppercase;
  transition: all .3s ease-in-out; }
  .secondary-header:hover {
    transform: skew(15deg, 5deg) scale(1.1);
    text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.205); }
  @media (max-width: 39em) {
    .secondary-header {
      padding: 0 .5rem;
      font-size: 1.75rem;
      padding-top: 2rem; } }

.tertiary-heading {
  margin-bottom: .8rem;
  font-size: 1.19rem;
  color: #707070;
  text-transform: uppercase; }

.paragraph {
  color: #5c5c5c;
  line-height: 1.8rem;
  font-size: 1rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 1rem; }
  @media (max-width: 39em) {
    .paragraph {
      font-size: 1.15rem; } }

.header {
  background-image: linear-gradient(to right, rgba(255, 0, 170, 0.863) 10%, rgba(98, 0, 255, 0.801)), url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 100%); }
  @media (max-width: 35em) {
    .header {
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%); } }
  .header__logo {
    transform: scale(4);
    position: absolute;
    top: 60px;
    left: 60px;
    color: white;
    animation-name: logo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: 1; }
  .header__text-cnt {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 4.5rem; }
    @media (max-width: 32.5rem) {
      .header__text-cnt .responsive-header-btn {
        margin-top: 2rem; } }

.btn {
  animation-name: downToUpbtn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out; }
  .btn--white-btn {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-family: lato;
    font-size: 1.2rem;
    padding: .8rem 1.3rem;
    background-color: white;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 200ms ease-in-out; }
    .btn--white-btn:hover {
      transform: translateY(-10%);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.281); }
      .btn--white-btn:hover::after {
        transform: scale(2);
        opacity: 0; }
    .btn--white-btn:active {
      transform: translateY(-5%);
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.247); }
    .btn--white-btn::after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 40px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.445);
      transition: all 0.3s ease-in-out;
      z-index: -1;
      pointer-events: none; }
  .btn--pink-btn {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-family: lato;
    font-size: 1.2rem;
    padding: .8rem 1.3rem;
    background-color: rgba(164, 7, 255, 0.86);
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    color: white; }
    .btn--pink-btn:hover {
      transform: translateY(-10%);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.281); }
      .btn--pink-btn:hover::after {
        transform: scale(2);
        opacity: 0; }
    .btn--pink-btn:active {
      transform: translateY(-5%);
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.247); }
    .btn--pink-btn::after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 40px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(164, 7, 255, 0.356);
      transition: all 0.3s ease-in-out;
      z-index: -1;
      pointer-events: none; }

.btn-text {
  color: rgba(255, 0, 170, 0.863);
  display: inline-block;
  text-decoration: none;
  font-size: .9rem;
  text-transform: uppercase;
  padding: .8rem .5rem;
  margin-top: 1.6rem;
  border-bottom: 1.6px solid rgba(255, 0, 170, 0.863);
  transition: all .3s ease-in-out; }
  @media (max-width: 59.9em) {
    .btn-text {
      font-size: .95rem; } }
  .btn-text:hover {
    transform: translateY(-8px);
    background-color: rgba(255, 0, 170, 0.863);
    border: none;
    color: white;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.288);
    border-radius: 3px;
    cursor: pointer; }
  .btn-text:active {
    transform: translateY(-4px);
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.212); }

.arrow {
  display: inline-block;
  -webkit-transform: translateY(-15%); }

.img-cnt {
  position: relative; }
  .img-cnt__image {
    position: absolute;
    width: 55%;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.397);
    outline-offset: .5rem;
    transition: all .2s ease-in-out; }
    @media (min-width: 39em) {
      .img-cnt__image:hover {
        z-index: 10;
        transform: scale(1.05) translateY(-1rem);
        outline: 10px solid rgba(255, 0, 170, 0.863);
        -moz-outline-radius: 3px;
        box-shadow: 4px 8px 4rem rgba(0, 0, 0, 0.678); } }
    @media (max-width: 59.9em) {
      .img-cnt__image {
        position: relative;
        width: 100%; } }
    @media (max-width: 39em) {
      .img-cnt__image {
        transform: scale(1.05) translateY(-1rem);
        outline: 10px solid rgba(255, 0, 170, 0.863);
        -moz-outline-radius: 3px;
        box-shadow: 4px 8px 4rem rgba(0, 0, 0, 0.678);
        outline-offset: 1rem; } }
  @media (max-width: 59.9em) {
    .img-cnt {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      height: 100%;
      padding-top: 2rem; } }
  @media (max-width: 39em) {
    .img-cnt {
      padding: 4rem;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, auto-fit);
      grid-row-gap: 5rem; } }
  @media (min-width: 60em) {
    .img-cnt--p1 {
      top: 6rem;
      left: 25%;
      z-index: 1; } }
  @media (max-width: 59.9em) {
    .img-cnt--p1 {
      transform: scale(0.9); } }
  @media (max-width: 39em) {
    .img-cnt--p1 {
      transform: scale(1); } }
  @media (min-width: 60em) {
    .img-cnt--p2 {
      left: 44%;
      top: 2rem; } }
  @media (max-width: 59.9em) {
    .img-cnt--p2 {
      transform: scale(1.4);
      z-index: 1; } }
  @media only screen and (max-width: 59.9em) and (min-width: 39em) {
    .img-cnt--p2:hover {
      z-index: 10;
      transform: scale(1.5) translateY(-1rem);
      outline: 10px solid rgba(255, 0, 170, 0.863);
      -moz-outline-radius: 3px;
      box-shadow: 4px 8px 4rem rgba(0, 0, 0, 0.678); } }
  @media (max-width: 39em) {
    .img-cnt--p2 {
      transform: scale(1); } }
  @media (min-width: 60em) {
    .img-cnt--p3 {
      left: 2%;
      top: -1.5rem; } }
  @media (max-width: 39em) {
    .img-cnt--p3 {
      transform: scale(1); } }
  @media (min-width: 60em) {
    .img-cnt:hover :not(:hover) {
      transform: scale(0.9); } }
  @media (max-width: 28.5em) {
    .img-cnt {
      padding-left: .5rem;
      padding-right: .5rem; } }

.feature-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.226);
  text-align: center;
  padding: 2rem;
  transition: all .2s ease-in-out; }
  .feature-card__icon {
    display: inline-block;
    font-size: 2.5rem;
    background-image: linear-gradient(to right, rgba(255, 0, 170, 0.863) 10%, rgba(98, 0, 255, 0.801));
    -webkit-background-clip: text;
    color: transparent;
    margin-top: .5rem;
    margin-bottom: 2rem; }
  .feature-card__heading, .feature-card__paragraph {
    font-size: .95rem; }
    @media (max-width: 59.9em) {
      .feature-card__heading, .feature-card__paragraph {
        font-size: 1.15rem; } }
    @media (max-width: 39em) {
      .feature-card__heading, .feature-card__paragraph {
        font-size: 1.3rem; } }
  .feature-card:hover {
    transform: translateY(-5%) scale(1.02);
    box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.363); }

.card {
  perspective: 140rem;
  height: 25rem;
  position: relative; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
    box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.295);
    transition: all .7s ease-in-out;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .card__side--front .card-front__pic {
      padding-left: 2rem;
      height: 12rem;
      background-position: center;
      background-size: cover;
      background-blend-mode: screen; }
      .card__side--front .card-front__pic-1 {
        background-image: linear-gradient(to right, #11998e, #38ef7d), url("../img/card-pic-1.jpg"); }
      .card__side--front .card-front__pic-2 {
        background-image: linear-gradient(to right, #ee0979, #ff6a00), url("../img/card-pic-2.jpg"); }
      .card__side--front .card-front__pic-3 {
        background-image: linear-gradient(to right, #09C6F9, #045DE9), url("../img/card-pic-3.jpg"); }
    .card__side--front .card-front__para {
      color: white;
      font-size: 1.5rem;
      text-align: center;
      width: 100%;
      padding: .5rem .5rem;
      text-transform: uppercase;
      transform: translateY(-100%);
      backface-visibility: hidden; }
      .card__side--front .card-front__para-1 {
        background-image: linear-gradient(to right bottom, rgba(17, 153, 142, 0.5), rgba(56, 239, 125, 0.8)); }
      .card__side--front .card-front__para-2 {
        background-image: linear-gradient(to right bottom, rgba(238, 9, 121, 0.5), rgba(255, 106, 0, 0.8)); }
      .card__side--front .card-front__para-3 {
        background-image: linear-gradient(to right bottom, rgba(9, 198, 249, 0.5), rgba(4, 93, 233, 0.8)); }
    .card__side--front .card-front__details {
      backface-visibility: hidden; }
      .card__side--front .card-front__details ul {
        list-style: none; }
      .card__side--front .card-front__details li {
        font-size: 1rem;
        margin-bottom: 2.5rem;
        display: inline-block; }
        @media (max-width: 39em) {
          .card__side--front .card-front__details li {
            font-size: 1.1rem; } }
        .card__side--front .card-front__details li span {
          color: black;
          background-color: white;
          font-weight: 300;
          margin-left: 1.1rem;
          padding: .5rem .5rem .5rem .5rem;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          box-shadow: 4px 5px 15px rgba(54, 54, 54, 0.233); }
      .card__side--front .card-front__details-1 span {
        border-left: 2px solid #38ef7d; }
      .card__side--front .card-front__details-2 span {
        border-left: 2px solid rgba(238, 9, 121, 0.8); }
      .card__side--front .card-front__details-3 span {
        border-left: 2px solid rgba(4, 93, 233, 0.8); }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back .card__detail-container {
        position: absolute;
        left: 50%;
        top: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        backface-visibility: hidden; }
        .card__side--back .card__detail-container .card__price {
          margin-bottom: 4rem;
          font-weight: 300;
          color: white; }
          .card__side--back .card__detail-container .card__price-text {
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 1rem; }
          .card__side--back .card__detail-container .card__price-value {
            font-size: 3rem; }
        .card__side--back .card__detail-container .btn {
          font-weight: 200;
          font-size: .5rem; }
    .card__side--back--1 {
      background-image: linear-gradient(to right bottom, #11998e, #38ef7d); }
    .card__side--back--2 {
      background-image: linear-gradient(to right bottom, #ee0979, #ff6a00); }
    .card__side--back--3 {
      background-image: linear-gradient(to right bottom, #09C6F9, #045DE9); }
  @media (min-width: 60em) {
    .card:hover .card__side--front {
      transform: rotateY(-180deg); }
    .card:hover .card__side--back {
      transform: rotateY(0deg); } }

@media (max-width: 59.9em) {
  .card {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    border-radius: 6px;
    box-shadow: 0rem 1.5rem 5rem rgba(0, 0, 0, 0.095); } }

@media (max-width: 24em) {
  .card {
    display: block;
    height: auto; } }

@media (max-width: 59.9em) {
  .card__side {
    position: relative;
    box-shadow: 0; } }

@media (max-width: 59.9em) {
  .card__side--front {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; } }

@media (max-width: 59.9em) {
  .card__side--back {
    display: block;
    transform: rotateY(0deg);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; } }

@media (max-width: 24em) {
  .card__side--back {
    height: 8rem; } }

@media (max-width: 24em) {
  .card__side--back .card__detail-container {
    display: flex;
    align-items: center; } }

@media (max-width: 24em) {
  .card__side--back .card__detail-container .card__price {
    display: flex;
    align-items: center;
    margin-bottom: 0; } }

@media (max-width: 24em) {
  .card__side--back .card__detail-container .card__price > * {
    margin-bottom: 0; } }

.form-cnt {
  width: 50%;
  height: 100%; }
  @media (max-width: 59.9em) {
    .form-cnt {
      width: 60%; } }
  @media (max-width: 32.5rem) {
    .form-cnt {
      width: 100%;
      padding: 0 10rem; } }
  @media (max-width: 28.5em) {
    .form-cnt {
      padding: 0 8rem; } }
  .form-cnt .form__inp-cnt {
    padding-left: 3rem;
    text-transform: capitalize; }
    @media (max-width: 32.5rem) {
      .form-cnt .form__inp-cnt {
        padding-left: 0; } }
    .form-cnt .form__inp-cnt .input {
      text-transform: inherit;
      width: 75%;
      padding: 1rem;
      border: none;
      border-radius: 2px;
      display: block;
      font-size: 1rem;
      border-bottom: 2px solid transparent;
      transition: all .2s ease-in-out; }
      @media (max-width: 59.9em) {
        .form-cnt .form__inp-cnt .input {
          font-size: 1.1rem; } }
      @media (max-width: 32.5rem) {
        .form-cnt .form__inp-cnt .input {
          width: 100%; } }
      .form-cnt .form__inp-cnt .input:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        border-bottom: 2px solid orangered; }
      .form-cnt .form__inp-cnt .input:focus:valid {
        border-bottom: 2px solid rgba(255, 0, 170, 0.863); }
    .form-cnt .form__inp-cnt .inp-cnt__label {
      text-transform: inherit;
      padding-left: 1rem;
      display: inline-block;
      color: #5a5a5a;
      opacity: 1;
      transform: translateY(0);
      transition: all .3s ease-in-out; }
    .form-cnt .form__inp-cnt:not(:last-child) {
      margin-bottom: 1rem; }
    .form-cnt .form__inp-cnt .input:placeholder-shown + .inp-cnt__label {
      opacity: 0;
      transform: translateY(-50%); }
    @media (max-width: 59.9em) {
      .form-cnt .form__inp-cnt {
        font-size: 1.1rem; } }
  .form-cnt .form .in
.radio-cnt {
    display: inline-block;
    position: relative;
    padding: .5rem 0; }
    .form-cnt .form .in
.radio-cnt:not(:last-child) {
      margin-right: 3rem; }
    .form-cnt .form .in
.radio-cnt .inp-radio-button {
      display: none; }
    .form-cnt .form .in
.radio-cnt .inp-radio-label {
      padding-left: 2rem;
      position: relative; }
      .form-cnt .form .in
.radio-cnt .inp-radio-label .fake-radio-cnt {
        padding: .5rem;
        border: 4px solid rgba(255, 0, 170, 0.863);
        border-radius: 50%;
        position: absolute;
        left: 0;
        transform: translateY(-10%); }
        .form-cnt .form .in
.radio-cnt .inp-radio-label .fake-radio-cnt::after {
          content: "";
          width: 50%;
          height: 50%;
          background-color: rgba(255, 0, 170, 0.863);
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0; }
    .form-cnt .form .in
.radio-cnt .inp-radio-button:checked + .inp-radio-label > .fake-radio-cnt::after {
      opacity: 1; }
  .form-cnt .form .btn {
    margin-top: 2.5rem;
    padding-left: 8rem; }
    @media (max-width: 32.5rem) {
      .form-cnt .form .btn {
        text-align: center;
        padding-left: 0; } }

@keyframes logo {
  from {
    scale: 0; }
  to {
    scale: 1; } }

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-30%); }
  70% {
    transform: translateX(10%); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(30%); }
  70% {
    transform: translateX(-10%); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

@keyframes downToUpbtn {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  70% {
    transform: translateY(-15%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

.row {
  max-width: 64rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    float: left; }
    .row .col:not(:last-child) {
      margin-right: 2.5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1 * 2.5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2.5rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2.5rem) / 4); }
  .row .col-2-of-3 {
    width: calc(calc((100% - 2 * 2.5rem) / 3) * 2 + 2.5rem); }
  .row .col-2-of-4 {
    width: calc(calc((100% - 3 * 2.5rem) / 4) * 2 + 1 * 2.5rem); }
  .row .col-3-of-4 {
    width: calc(calc((100% - 3 * 2.5rem) / 4) * 3 + 2 * 2.5rem); }

.sec-about {
  background-color: rgba(224, 224, 224, 0.548);
  padding-bottom: 25rem;
  padding-top: 17rem;
  margin-top: -30vh; }
  .sec-about__grid-cnt {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 0 3rem;
    padding-bottom: 3rem; }
    @media (max-width: 59.9em) {
      .sec-about__grid-cnt {
        grid-template-rows: repeat(2, auto-fit);
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 0 5rem; } }
    @media (max-width: 28.5em) {
      .sec-about__grid-cnt {
        padding: 0 1.5rem; } }
    @media (max-width: 59.9em) {
      .sec-about__grid-cnt .ut-margin-80 {
        margin-bottom: 10px !important; } }
    @media (max-width: 59.9em) {
      .sec-about__grid-cnt .col-1-of-2 {
        margin-top: 2.5rem;
        padding: 0 2rem; } }

.sec-features {
  padding: 14rem 0;
  background-image: linear-gradient(to right, rgba(255, 0, 170, 0.663) 10%, rgba(98, 0, 255, 0.601)), url("../img/section-feature-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-29%) skewY(-10deg); }
  @media (max-width: 39em) {
    .sec-features {
      transform: translateY(-20%) skewY(-10deg); } }
  @media (max-width: 28.5em) {
    .sec-features {
      transform: translateY(-18%) skewY(-10deg); } }
  .sec-features > * {
    transform: skewY(10deg); }
  .sec-features__grid-cnt {
    max-width: 100%;
    padding: 0 4rem;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fit, 210px);
    grid-column-gap: 3rem;
    justify-content: center; }
    @media (max-width: 70em) {
      .sec-features__grid-cnt {
        padding: 0 1rem;
        grid-column-gap: 2rem; } }
    @media (max-width: 62.5rem) {
      .sec-features__grid-cnt {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 210px);
        grid-row-gap: 6rem;
        grid-column-gap: 0;
        justify-content: space-evenly; } }
    @media (max-width: 39em) {
      .sec-features__grid-cnt {
        grid-template-columns: repeat(1, minmax(210px, 300px));
        grid-template-rows: repeat(4, 1fr);
        padding: 0 3rem; } }

.sec-packages {
  padding: 8rem 0 12rem 0;
  transform: translateY(-20%);
  padding-bottom: 7.5rem; }
  @media (max-width: 59.9em) {
    .sec-packages {
      padding-bottom: 0rem; } }
  .sec-packages__grid-cnt {
    max-width: 100%;
    padding: 0 4rem;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(3, minmax(auto, 280px));
    grid-column-gap: 3rem;
    justify-content: center; }
    @media (max-width: 59.9em) {
      .sec-packages__grid-cnt {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1, minmax(auto, 600px));
        grid-row-gap: 3rem; } }

.sec-review {
  text-align: center;
  padding: 10rem 0;
  transform: translateY(-20%);
  background-color: transparent;
  position: relative;
  z-index: 1; }
  .sec-review .review-cnt {
    margin: 0 10rem;
    margin-bottom: 2.5rem;
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: skewX(-5deg);
    padding: 2rem 3rem;
    padding-left: 4.5rem; }
    @media (max-width: 28.5em) {
      .sec-review .review-cnt {
        transform: skewX(0deg);
        padding-left: 3rem;
        margin: 0 auto;
        width: 90vw; } }
    .sec-review .review-cnt__img-cnt {
      float: left;
      width: 120px;
      height: 120px;
      position: relative;
      overflow: hidden;
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      transform: translate(-1.6rem, 4%) skewX(5deg); }
      @media (max-width: 28.5em) {
        .sec-review .review-cnt__img-cnt {
          float: none;
          margin: 0 auto;
          margin-bottom: 2rem;
          transform: translate(0rem, 0%) skewX(0deg); } }
      .sec-review .review-cnt__img-cnt__photo {
        width: 100%;
        height: 100%;
        transition: all .3s ease-in-out;
        transform: scale(1.1);
        backface-visibility: hidden; }
      .sec-review .review-cnt__img-cnt__photo-name {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        opacity: 0;
        transition: all .3s ease-in-out; }
    .sec-review .review-cnt__text {
      transform: skewX(5deg); }
      @media (max-width: 28.5em) {
        .sec-review .review-cnt__text {
          transform: skewX(0deg); } }
      @media (max-width: 59.9em) {
        .sec-review .review-cnt__text .font-size-tab-land {
          font-size: 1.15rem; } }
    .sec-review .review-cnt:hover .review-cnt__img-cnt__photo {
      filter: blur(3px) brightness(75%);
      transform: scale(1); }
    .sec-review .review-cnt:hover .review-cnt__img-cnt__photo-name {
      transform: translate(-50%, -50%);
      opacity: 1; }
  .sec-review .video-cnt {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    opacity: .25; }
    .sec-review .video-cnt__video {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.sec-booking {
  padding: 11rem 0;
  background-image: linear-gradient(to right, rgba(255, 0, 170, 0.863) 10%, #6200ff);
  margin-top: -15rem;
  position: relative; }
  .sec-booking .form-bg-cnt {
    height: 30rem;
    background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.8) 0% 50%, transparent 50% 100%), url("../img/form-bg-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); }
    @media (max-width: 59.9em) {
      .sec-booking .form-bg-cnt {
        background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.8) 0% 60%, transparent 50% 100%), url("../img/form-bg-2.jpg"); } }
    @media (max-width: 32.5rem) {
      .sec-booking .form-bg-cnt {
        background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.8) 0% 100%, transparent 50% 100%), url("../img/form-bg-2.jpg"); } }

footer {
  background-color: #2d2d2d;
  color: white;
  padding: 5rem 0rem;
  font-size: .9rem; }
  @media (max-width: 39em) {
    footer {
      font-size: 1rem; } }
  footer .footer__logo__cnt {
    width: 100%;
    text-align: center;
    padding: 0rem 0rem 5rem 0rem; }
    footer .footer__logo__cnt .footer__icon {
      transform: scale(6); }
  footer .footer__el-cnt {
    list-style: none;
    display: inline-block;
    border-top: 1px solid white;
    padding-top: 1rem; }
    footer .footer__el-cnt::after {
      content: "";
      display: table;
      clear: both; }
    footer .footer__el-cnt .footer__left-el, footer .footer__el-cnt .footer__right-el {
      float: left;
      text-transform: uppercase;
      cursor: pointer;
      padding: .3rem; }
      footer .footer__el-cnt .footer__left-el span, footer .footer__el-cnt .footer__right-el span {
        backface-visibility: hidden;
        transition: all .3s ease-in-out; }
      footer .footer__el-cnt .footer__left-el:hover span, footer .footer__el-cnt .footer__right-el:hover span {
        display: inline-block;
        color: #ee0979;
        transform: scale(1.1) rotate(5deg);
        box-shadow: 0rem 0.5rem 1rem black; }
      footer .footer__el-cnt .footer__left-el:not(:last-child), footer .footer__el-cnt .footer__right-el:not(:last-child) {
        margin-right: 1rem; }
  footer .footer__el-cnt-right {
    float: right; }

.ut-center {
  text-align: center !important; }

@media (min-width: 60em) {
  .ut-margin-80-responsive {
    margin-bottom: 80px !important; } }

.ut-margin-80 {
  margin-bottom: 80px !important; }

.ut-margin-top-50 {
  margin-top: -50px !important; }

.ut-margin-top-6 {
  margin-top: 6rem !important; }

.ut-col-ht {
  height: 25rem !important; }
  @media (max-width: 24em) {
    .ut-col-ht {
      height: auto !important; } }

.ut-btn-mod {
  font-size: 1rem !important;
  color: rgba(53, 53, 53, 0.89) !important;
  font-weight: 400 !important; }

.ut-font-size-small {
  font-size: 1rem !important; }

.ut-center {
  text-align: center !important; }

.ut-fontSize-med {
  font-size: 1.7rem !important; }

.ut-padding-top-60 {
  padding-top: 4rem !important; }

.ut-margin-bottom-20 {
  margin-bottom: 2rem !important; }

.ut-z-index-2 {
  z-index: 2 !important; }

.ut-footer {
  padding: 0 1rem;
  margin-left: 0 !important;
  margin-right: 0px !important;
  max-width: 100% !important; }

.ut-padding-right-col-1 {
  padding-right: 3rem; }
